* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

strong {
    font-weight: 700;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(58, 39, 39);
}

.heading-logo {
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.heading-detail {
    font-weight: 400;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 12px;
}

.list {
    margin: 0 10px;
}

.list a {
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

.list a:hover {
    text-decoration: underline;
}

.section-about {
    background-color: #5766b8;
    padding: 20px 10%;
}

.section-about h1 {
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 10px;
}

.about-heading-tag span {
    font-weight: 600;
    text-decoration: underline;
    font-size: 25px;
}

.about-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.about-img {
    width: 280px;
    height: auto;
    outline: 3px solid white;
    margin-bottom: 10px;
}

.about-img-tag {
    font-size: 20px;
    font-weight: 500;
}

.section-about p {
    padding: 0 10px;
    text-align: justify;
    font-size: 16px;
    line-height: 1.7;
    word-spacing: 1.4;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .section-header {
        padding: 20px 5%;
    }

    .section-about {
        padding: 20px 5%;
    }

    .about-row {
        flex-direction: row;
    }

    .about-img {
        width: 240px;
    }
}

@media (max-width: 900px) {
    .section-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .heading-logo {
        margin-bottom: 10px;
    }

    .nav-menu {
        flex-direction: row;
        width: 100%;
    }

    .list a {
        font-size: 16px;
        padding: 5px 0;
        display: block;
    }

    .section-about {
        padding: 20px 2%;
    }

    .about-heading-tag span {
        font-size: 20px;
    }

    .about-img {
        width: 200px;
    }

    .about-row {
        flex-direction: column;
    }

    .section-about p {
        padding: 0;
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .section-header {
        padding: 15px;
    }

    .heading-logo {
        margin-bottom: 10px;
    }

    .nav-menu {
        flex-direction: column;
    }

    .section-about {
        padding: 10px 2%;
    }

    .about-heading-tag span {
        font-size: 18px;
    }

    .about-img {
        width: 180px;
    }

    .about-row {
        padding: 0 10px;
    }

    .section-about p {
        padding: 10px 0;
        line-height: 1.5;
        font-size: 15px;
    }
}